<h1>Loja de Eletrônicos</h1>

<form action="http://localhost:3000/clientes">
    <input type="submit" value="Cadastrar Clientes" />
</form>

<form action="http://localhost:3000/produtos">
    <input type="submit" value="Cadastrar Produtos" />
</form>

<form action="http://localhost:3000/trocas">
    <input type="submit" value="Cadastrar Trocas" />
</form>

<form action="http://localhost:3000/vendas">
    <input type="submit" value="Cadastrar Vendas" />
</form>

